body{
    font-family: verdana, arial, sans-serif;
    margin: 10px 100px 40px 100px;
}
.hero{
    height: 500px;
    background-position: right center;
    background-size: cover;
    border-top: 1px solid transparent;
}
.hero-content{
    text-align: center;
    color: white;
    margin-top: 40px;
}
.hero nav ul{
    text-align: right;
    margin: 20px 50px 0 0;
}
.hero nav li{
    display: inline-block;
    list-style: 'none';
    margin-left: 10px;
}
.hero nav a{
    background: rgba(0,0,0, 0.3);
    color: rgb(72, 112, 150);
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
}
.hero nav a:hover{
    background: rgba(0,0,0, 0.5);
}
p{
    line-height: 1.5;
}

.content-section{
    background-color: white;
    padding: 80px;
    margin: 100px 50px 150px 50px;
}
.content-section h1{
    font-size: 32px;
    text-align: center;
}
.content-section p{
    color: rgb(54, 53, 53);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.card{
    width: 25%;
    float: left;
    box-sizing: border-box;
    margin: 40px 40px 40px 40px;
}
.card-1, .card-2{
    margin-right: 2%;
}
.card img{
    width: 100%;
    display: block;
}
.card h1{
    text-transform: uppercase;
    letter-spacing: 4px;
    color: rgb(70, 68, 68);
    font-size: 14px;
    text-align: center;
}
.card p{
    color: gray;
    margin: 0;
    padding: 5px;
    letter-spacing: 1.5px;
    text-align: center;
}

.content-section2{
    background-image: url(../imagens/bg_detalhe.png);
    height: 500px;
    background-position: right center;
    background-size: cover;
    padding: 80px;
    margin: 100px 50px 150px 50px;
    color: white;
    overflow: auto;
    font-family: Tahoma, sans-serif;
}
.content-section2 h1{
    text-transform: uppercase;
    font-size: 40px;
    margin-top: 0.5px;
}
.content-section2 p{
    padding-right: 400px;
}

.content-final{
    text-transform: uppercase;
    text-align: center;
    font-size: 26px;
    color: rgb(36, 49, 61);
    font-family:   Tahoma, sans-serif;
}

.rodape{
    font-family:  Helvetica, sans-serif;
    background-color: black;
    padding: 15px;
    text-align: center;
    color: rgb(72, 112, 150);
    font-size: 12px;
    height: 40px;
    line-height: 40px;
    letter-spacing: 4px;
    margin-top: 60px;
}